/* Colores
negro: #111
gris oscurro: #1E1E1E
gris claro: 9f9f9f
Blanco: white
Morado: #5200ff
*/

/* Principales */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.3rem;
}

img {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Menu black */

#black {
  background-color: #111;
  padding: 0.8rem 0;
  position: sticky;
  z-index: 2;
  top: 0;
}

.logo {
  filter: invert(100%);
  width: 10.5rem;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__link {
  text-decoration: none;
  color: white;
  margin-left: 2rem;
}

.nav__input:checked + .nav__menu {
  background: #111;
}

.nav__burguer {
  display: flex;
}

.nav__label i {
  font-size: 1.5rem;
  color: white;
}

.nav__label,
.nav__input {
  display: none;
}

.nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.container__nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__nav__burguer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 712px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 100px;
    bottom: 0;
    background: #000;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }

  .container__nav__burguer {
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
}

/* Intro home black*/

#introHome {
  background-color: #111;
  padding-top: 16.5rem;
}

.intro {
  color: white;
}

/* Trabajos Principales blak */

#trabajosPrinciales {
  background-color: #111;
  padding-top: 4.5rem;
}

.container__trabajos {
  width: 80%;
  margin: 0 auto;
}

.Trabajos__img {
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.trabajosimg {
  border-radius: 2rem;
}

.Container__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Trabajos__text {
  color: white;
  display: inline;
}

.Trabajos__text h2 {
  color: white;
}

.Category {
  margin-right: 10rem;
}

.parrafo {
  width: 80%;
}

.Trabajos__text p {
  color: #9f9f9f;
}

.Trabajos__text a {
  color: #5200ff;
  font-style: none;
  font-size: 3rem;
}

@media (max-width: 712px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .container__trabajos {
    width: 100%;
  }
  .trabajosimg {
    border-radius: 0;
  }
  #introHome {
    padding-top: 10rem;
  }

  .intro {
    text-align: center;
  }
  .intro h1 {
    font-size: 3rem;
  }

  .Category {
    display: none;
  }
  .Container__text {
    padding: 0.5rem 0.5rem;
    align-items: center;
  }
  .Container__text i {
    display: none;
  }
  .Trabajos__text {
    display: grid;
  }
  .Trabajos__text h2 {
    text-align: center;
  }
  .Trabajos__text__white {
    display: grid;
  }
  .Trabajos__text__white h2 {
    text-align: center;
  }
  .parrafo {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #contacto {
    background-color: #111;
    padding: 10rem 0;
    text-align: center;
  }
  .button__contact h1 {
    font-size: 2.5rem;
  }
  .button__contact h2 {
    font-size: 1.5rem;
  }
  .button__contact__white h1 {
    font-size: 2.5rem;
  }
  .button__contact__ h2 {
    font-size: 1.5rem;
  }

  #proyectosPersonales {
    padding: 0;
  }

  #proyectosPersonales h1 {
    font-size: 3rem;
  }
}

/* Contacto black*/

#contacto {
  background-color: #111;
  padding: 20rem 0;
  text-align: center;
}

.button__contact {
  background-color: #111;
  border: 0;
}
.button__contact h1 {
  color: white;
  margin-bottom: 0;
}
.button__contact h2 {
  color: #9f9f9f;
  margin-top: 0;
}

/* Footer black*/

.container__footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #111;
  padding: 1.5rem 0;
}

.footer__sm a {
  color: #9f9f9f;
  font-size: 1.1rem;
  font-style: none;
  padding-left: 1rem;
}

.footer__text {
  color: #9f9f9f;
}

/* Sobre mi */

#sobreMi {
  background-color: #111;
  padding-top: 6rem;
}

.container__sobreMi {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sobreMi__img {
  width: 28.5rem;
  margin-right: 3rem;
}

.sobreMiImg {
  border-radius: 2rem;
}

.sobreMi__Text {
  color: white;
}

.sobreMi__title {
  width: 15rem;
  margin-right: 5rem;
}

.sobreMi__Text p {
  color: #9f9f9f;
  width: 30rem;
}

/* Estudios */

#estudios {
  background-color: #111;
  padding-top: 6rem;
}

.container__estudios {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.container__estudios h4 {
  color: white;
}

.container__estudios p {
  color: #9f9f9f;
}

.separador {
  padding-top: 6rem;
}

.separador__p {
  margin-top: 1.5rem;
}

/* skills */

#skills {
  background-color: #111;
}

.container__skills {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.container__skills h4 {
  color: white;
}

.container__skills p {
  color: #9f9f9f;
}

/* experiencias */

#experiencias {
  background-color: #111;
}

.container__experiencias {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.container__experiencias h4 {
  color: white;
}

.container__experiencias p {
  color: #9f9f9f;
}

@media (max-width: 712px) {
  .container__sobreMi {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .sobreMi__img {
    width: 90%;
    margin: 0;
  }

  .sobreMi__Text {
    text-align: center;
  }
  .sobreMi__Text p {
    width: 100%;
    padding: 0.3rem 1rem;
  }

  .container__estudios {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
  }
  .sobreMi__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .container__skills {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
  }
  .container__estudios p {
    text-align: center;
  }
  .container__skills p {
    text-align: center;
  }
  .skill__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .container__experiencias {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
  }
  .container__experiencias p {
    text-align: center;
  }
  .skill__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .separador {
    padding-top: 2rem;
  }
}

/* Menu white */

#white {
  background-color: white;
  padding: 0.8rem 0;
  position: sticky;
  z-index: 2;
  top: 0;
}

.logo__black {
  width: 10.5rem;
}

.nav__list__white {
  list-style: none;
  display: flex;
}

.nav__link__white {
  text-decoration: none;
  color: #111;
  margin-left: 2rem;
}
.nav__link__white {
  text-decoration: none;
  color: #111;
  margin-left: 2rem;
}

.nav__input__white:checked + .nav__menu__white {
  background: white;
}

.nav__burguer {
  display: flex;
}

.nav__label__white i {
  font-size: 1.5rem;
  color: #111;
}

.nav__label__white,
.nav__input__white {
  display: none;
}

.nav__menu__white {
  list-style: none;
  display: flex;
  align-items: center;
}

.container__nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__nav__burguer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 712px) {
  .nav__label__white {
    display: block;
    cursor: pointer;
  }

  .nav__menu__white {
    position: fixed;
    top: 100px;
    bottom: 0;
    background: #000;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
  }

  .nav__input__white:checked + .nav__menu__white {
    clip-path: circle(100% at center);
  }

  .container__nav__burguer {
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
}

/* Proyectos personales white */

#proyectosPersonales {
  background-color: white;
  padding-top: 16.5rem;
}

.Trabajos__img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.Trabajos__text__white {
  color: #111;
  display: inline;
}

.Trabajos__text__white p {
  color: #9f9f9f;
  /* width: 46.5rem; */
}

.Trabajos__text__white a {
  color: #5200ff;
  font-style: none;
  font-size: 3rem;
}

/* Contacto white*/

#contactoWhite {
  background-color: white;
  padding: 20rem 0;
  text-align: center;
}

.button__contact__white {
  background-color: white;
  border: 0;
}
.button__contact__white h1 {
  color: #111;
  margin-bottom: 0;
}
.button__contact__white h2 {
  color: #9f9f9f;
  margin-top: 0;
}

/* Footer white*/

#footerWhite {
  background-color: white;
  padding: 1.5rem 0;
}

/* Intro Proyectos white*/

#contactoIntro {
  background-color: white;
  padding-top: 16.5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.introContacto {
  color: #111;
}

/* formulario white*/

#formWhite {
  background-color: white;
}

.container__form {
  width: 80%;
  margin: 0 auto;
}

.container__input {
  margin-top: 1rem;
}

.input__form {
  width: 46.5rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  border-color: solid #1e1e1e 1px;
  outline: none;
}
